* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  float: none;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-left: 10px;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90%;
}
button {
  padding: 3px;
  max-width: fit-content;
  font-size: medium;
}
